@font-face {
  font-family: "GrenettePro";
  font-weight: 300;
  font-style: normal;
  src:
    url("/fonts/GrenettePro-Light.woff2") format("woff2"),
    url("/fonts/GrenettePro-Light.woff") format("woff");
}
@font-face {
  font-family: "GrenettePro";
  font-weight: 300;
  font-style: italic;
  src:
    url("/fonts/GrenettePro-LightItalic.woff2") format("woff2"),
    url("/fonts/GrenettePro-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "GrenettePro";
  font-weight: 400;
  font-style: normal;
  src:
    url("/fonts/GrenettePro-Regular.woff2") format("woff2"),
    url("/fonts/GrenettePro-Regular.woff") format("woff");
}
@font-face {
  font-family: "GrenettePro";
  font-weight: 600;
  font-style: normal;
  src:
    url("/fonts/GrenettePro-SemiBold.woff2") format("woff2"),
    url("/fonts/GrenettePro-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "GrenettePro";
  font-weight: 600;
  font-style: italic;
  src:
    url("/fonts/GrenettePro-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/GrenettePro-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "GrenettePro";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/GrenettePro-Bold.woff2") format("woff2"),
    url("/fonts/GrenettePro-Bold.woff") format("woff");
}
@font-face {
  font-family: "GrenettePro";
  font-weight: 700;
  font-style: italic;
  src:
    url("/fonts/GrenettePro-BoldItalic.woff2") format("woff2"),
    url("/fonts/GrenettePro-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "GrenettePro";
  font-weight: 900;
  font-style: normal;
  src:
    url("/fonts/GrenettePro-Black.woff2") format("woff2"),
    url("/fonts/GrenettePro-Black.woff") format("woff");
}
@font-face {
  font-family: "GrenettePro";
  font-weight: 900;
  font-style: italic;
  src:
    url("/fonts/GrenettePro-BlackItalic.woff2") format("woff2"),
    url("/fonts/GrenettePro-BlackItalic.woff") format("woff");
}

/* Inter */
@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-Thin.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Thin.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: italic;
  src:
    url("/fonts/Inter_28pt-ThinItalic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-ExtraLight.woff2") format("woff2"),
    url("/fonts/Inter_28pt-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: italic;
  src:
    url("/fonts/Inter_28pt-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-Light.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic;
  src:
    url("/fonts/Inter_28pt-LightItalic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-Regular.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-Medium.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic;
  src:
    url("/fonts/Inter_28pt-MediumItalic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter_28pt-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  src:
    url("/fonts/Inter_28pt-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-ExtraBold.woff2") format("woff2"),
    url("/fonts/Inter_28pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-Bold.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  src:
    url("/fonts/Inter_28pt-BoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  src:
    url("/fonts/Inter_28pt-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src:
    url("/fonts/Inter_28pt-Black.woff2") format("woff2"),
    url("/fonts/Inter_28pt-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: italic;
  src:
    url("/fonts/Inter_28pt-BlackItalic.woff2") format("woff2"),
    url("/fonts/Inter_28pt-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-Thin.woff2") format("woff2"),
    url("/fonts/Inter_18pt-Thin.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: italic;
  src:
    url("/fonts/Inter_18pt-ThinItalic.woff2") format("woff2"),
    url("/fonts/Inter_18pt-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-ExtraLight.woff2") format("woff2"),
    url("/fonts/Inter_18pt-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: italic;
  src:
    url("/fonts/Inter_18pt-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/Inter_18pt-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-Light.woff2") format("woff2"),
    url("/fonts/Inter_18pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic;
  src:
    url("/fonts/Inter_18pt-LightItalic.woff2") format("woff2"),
    url("/fonts/Inter_18pt-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-Regular.woff2") format("woff2"),
    url("/fonts/Inter_18pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-Medium.woff2") format("woff2"),
    url("/fonts/Inter_18pt-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic;
  src:
    url("/fonts/Inter_18pt-MediumItalic.woff2") format("woff2"),
    url("/fonts/Inter_18pt-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter_18pt-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  src:
    url("/fonts/Inter_18pt-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_18pt-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-Bold.woff2") format("woff2"),
    url("/fonts/Inter_18pt-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-ExtraBold.woff2") format("woff2"),
    url("/fonts/Inter_18pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  src:
    url("/fonts/Inter_18pt-BoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_18pt-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  src:
    url("/fonts/Inter_18pt-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_18pt-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src:
    url("/fonts/Inter_18pt-Black.woff2") format("woff2"),
    url("/fonts/Inter_18pt-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: italic;
  src:
    url("/fonts/Inter_18pt-BlackItalic.woff2") format("woff2"),
    url("/fonts/Inter_18pt-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-Thin.woff2") format("woff2"),
    url("/fonts/Inter_24pt-Thin.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: italic;
  src:
    url("/fonts/Inter_24pt-ThinItalic.woff2") format("woff2"),
    url("/fonts/Inter_24pt-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-ExtraLight.woff2") format("woff2"),
    url("/fonts/Inter_24pt-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: italic;
  src:
    url("/fonts/Inter_24pt-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/Inter_24pt-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-Light.woff2") format("woff2"),
    url("/fonts/Inter_24pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic;
  src:
    url("/fonts/Inter_24pt-LightItalic.woff2") format("woff2"),
    url("/fonts/Inter_24pt-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-Regular.woff2") format("woff2"),
    url("/fonts/Inter_24pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-Medium.woff2") format("woff2"),
    url("/fonts/Inter_24pt-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic;
  src:
    url("/fonts/Inter_24pt-MediumItalic.woff2") format("woff2"),
    url("/fonts/Inter_24pt-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter_24pt-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  src:
    url("/fonts/Inter_24pt-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_24pt-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-ExtraBold.woff2") format("woff2"),
    url("/fonts/Inter_24pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-Bold.woff2") format("woff2"),
    url("/fonts/Inter_24pt-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  src:
    url("/fonts/Inter_24pt-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_24pt-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  src:
    url("/fonts/Inter_24pt-BoldItalic.woff2") format("woff2"),
    url("/fonts/Inter_24pt-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src:
    url("/fonts/Inter_24pt-Black.woff2") format("woff2"),
    url("/fonts/Inter_24pt-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: italic;
  src:
    url("/fonts/Inter_24pt-BlackItalic.woff2") format("woff2"),
    url("/fonts/Inter_24pt-BlackItalic.woff") format("woff");
}
